ENVIRONMENT=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=

SECRET_KEY=
EXTERNAL_DATABASE_URL=
INTERNAL_DATABASE_URL=

DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

TRAP_EMAIL_HOST_USER=
TRAP_EMAIL_HOST_PASSWORD=
TRAP_EMAIL_HOST=
TRAP_EMAIL_PORT=

CELERY_BROKER_URL =
