{% extends "layouts/blank.html" %}

{% block content %}

    <wrapper
            class="block h-[calc(100vh-80px)] pt-8 pb-4 px-4 max-w-7xl mx-auto">

        <h1 class="mb-8">Message Board {{ message_board }}</h1>

        <div id="messageboard"
             class="grid md:grid-cols-3 lg:grid-cols-4 h-5/6 bg-white md:shadow-2xl md:rounded-2xl relative">

            <div id="messages"
                 class="flex flex-col md:col-span-2 lg:col-span-3 relative overflow-y-auto h-full">

                <div class="flex flex-col gap-6 px-4 pt-8 md:px-10 grow">
                    {% for message in message_board.messages.all reversed %}
                        <article class="flex gap-4 md:gap-6">
                            <a class="contents"
                               href="{% url 'profile' message.author.username %}">
                                <img class="w-10 h-10 md:w-14 md:h-14 object-cover rounded-full"
                                     src="{{ message.author.profile.avatar }}">
                            </a>
                            <div class="bg-white p-4 w-full rounded-xl border-2 border-gray-200">
                                <div class="flex flex-col md:flex-row justify-between text-xs pb-3 text-zinc-500">
                                    <div>
                                        <span class="font-bold text-base text-black mr-1">{{ message.author.profile.name }}</span>@{{ message.author.username }}
                                    </div>
                                    <div>{{ message.created_at }}
                                        ({{ message.created_at|timesince }})
                                    </div>
                                </div>
                                <div>{{ message.body }}</div>
                            </div>
                        </article>
                    {% endfor %}

                </div>

                <div class="sticky bottom-0 z-10 p-4 md:p-10 flex flex-col bg-white rounded-2xl">
                    <div class="flex gap-4 md:gap-6">
                        <div class="contents">
                            <img class="w-10 h-10 md:w-14 md:h-14 object-cover rounded-full"
                                 src="{{ user.profile.avatar }}">
                        </div>
                        <div class="w-full rounded-xl">
                            <form method="POST" class="w-full">
                                {#   <input type="text" name="body" placeholder="Post a message ..." class="p-4 text-black" maxlength="300">#}
                                {% csrf_token %}
                                {{ form }}
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="p-6 hidden md:block">
                <div class="mb-12">
                    {% if user in message_board.subscribers.all %}
                        <h2 class="mb-2">You are subscribed!</h2>
                        <a href="{% url 'subscribe_view' %}"
                           class="inline-block bg-black hover:bg-red-500 text-white font-bold rounded-full py-3 px-4">Unsubscribe</a>
                    {% else %}
                        <h2>Subscribe</h2>
                        <div class="block text-sm mb-2">Subscribe to this
                            Message
                            Board to get email notifications and newsletters
                        </div>
                        <a href="{% url 'subscribe_view' %}"
                           class="inline-block bg-emerald-800 hover:bg-emerald-500 text-white font-bold rounded-full py-3 px-4">Subscribe</a>
                    {% endif %}
                </div>

                <div class="rounded-2xl border-2 border-gray-200 p-4">
                    <h2>{{ message_board.subscribers.count }} Subscriber{{ message_board.subscribers.count|pluralize }}</h2>
                    <ul class="grid grid-cols-3">
                        {% for subscriber in message_board.subscribers.all %}
                            <li class="block mb-2">
                            <a href="{% url 'profile' subscriber.username %}">
                                <div class="flex justify-center">
                                    <img class="w-16 h-16 rounded-full object-cover"
                                         src="{{ subscriber.profile.avatar }}">
                                </div>
                                <div class="font-bold text-sm text-center">
                                    {{ subscriber.username|title }}
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


        </div>
    </wrapper>


    <script>
        function scrollToBottom() {
            const container = document.getElementById('messages');
            container.scrollTop = container.scrollHeight;
        }

        window.onload = function () {
            scrollToBottom();
        };
    </script>

{% endblock %}