{% extends 'layouts/blank.html' %}

{% block content %}

<wrapper class="block max-w-2xl mx-auto my-10">
    <div id="chat_window" class="h-[45rem] flex flex-col bg-gray-800 rounded-2xl shadow-2xl relative p-1">
        <div class="flex justify-center text-emerald-400 bg-gray-800 p-2 sticky top-0 z-10">
            <div id="online-icon"></div>
            <span id="online-count" class="pr-1"></span>online
        </div>
        <div id='chat_container' class="overflow-y-auto grow">
            <ul id='chat_messages' class="flex flex-col justify-end gap-2 p-4">
                {% for message in chat_messages %}
                {% include 'realtime_chatter/chat_message.html' %}
                {% endfor %}
            </ul>
        </div>
        <div class="sticky bottom-0 z-10 p-2 bg-gray-800">
            <div class="flex items-center rounded-xl px-2 py-2">
                <form id="chat_message_form" class="w-full"
                    hx-ext="ws"
                    ws-connect="/ws/chatroom/public-chatter"
                    ws-send
                    _="on htmx:wsAfterSend reset() me">
                    {% csrf_token %}
                    {{ form }}
                </form>
            </div>
        </div>
    </div>
</wrapper>

{% endblock %}

{% block javascript %}
<script>

    function scrollToBottom(time=0) {
        setTimeout(function() {
            const container = document.getElementById('chat_container');
            container.scrollBottom = container.scrollHeight;
        }, time);
    }
    scrollToBottom()

</script>
{% endblock %}