<span id="online-count" hx-swap-oob="outerHTML" class="fade-in-scale pr-1">
    {{ online_count }}
    <style>
        @keyframes fadeInScale {
            from { opacity: 0; transform: scale(4); }
            to { opacity: 1; transform: scale(1); }
        }
        .fade-in-scale {
            animation: fadeInScale 0.6s ease;
        }
    </style>
</span>

{% if online_count != 0 %}
<div id="online-icon" class="green-dot absolute top-2 left-2"></div>
{% else %}
<div id="online-icon" class="gray-dot absolute top-2 left-2"></div>
{% endif %}

{% for user in users %}
    {% if user in chat_group.users_online.all %}
    <div id= "user-{{ user.id }}" class= "green-dot border-2 border-gray-800 absolute -bottom-1 -right-2"></div>
    {% else %}
    <div id= "user-{{ user.id }}" class= "gray-dot border-2 border-gray-800 absolute -bottom-1 -right-2"></div>
    {% endif %}
{% endfor %}
